{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS (Bootstrap / Tailwind or Custom CSS) -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.3/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- static link -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    {% block extra_head %}{% endblock %}
</head>

<body class="bg-gray-100">

    <!-- Navbar Include -->
    {% include 'navbar.html' %}

    <!-- Main Content -->
    <main>
        {% block content %}
        <!-- Content will go here -->
        {% endblock %}
    </main>
    {% include 'footer.html' %}

    <!-- Scripts (Optional, can be for animations or custom JS) -->
    <script src="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.3/dist/tailwind.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>

    {% block extra_scripts %}{% endblock %}
</body>

</html>
