{% extends 'base.html' %}

{% block title %}Page Title{% endblock %}

{% block content %}
    <div style="width: 1920px; height: 3886px; position: relative; background: #D9D9D9; overflow: hidden">
        <!-- Text Insert Above -->
        <div style="left: 465px; top: 2830px; position: absolute; text-align: justify; justify-content: center; display: flex; flex-direction: column; color: black; font-size: 64px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">
          Insert Previous Photo of RES 24
        </div>
    
        <!-- White Box with Content -->
        <div style="width: 1833px; height: 676px; left: 46px; top: 1268px; position: absolute; background: linear-gradient(180deg, white 100%); box-shadow: 0px 6.427px 6.427px rgba(0, 0, 0, 0.25); border-radius: 64.27px; backdrop-filter: blur(37.5px); padding: 64px; box-sizing: border-box;">
          <p style="color: black; font-size: 32px; font-family: 'Open Sans', sans-serif; font-weight: 400; text-align: justify; margin: 0;">
            <strong>ReEnergize Summit 2025 by SRE UI</strong> is the biggest annual event organized by SRE UI, invites the public to participate in an engaging lineup of activities centered on renewable energy. The events within ReEnergize Summit 2025 includes Business Case Competition, Policy Case Competition, Renewable Energy Innovation Competition, Policy Workshop, Field Trip, and Pentahelix Talks all designed to facilitate the growth of knowledge within our local community. With support from renewable energy experts, SRE UI ReEnergize Summit strives to drive meaningful change in Indonesia’s energy transition by promoting energy diversification, community resilience, and sustainable careers in the green sector.
          </p>
        </div>
    </div>
{% endblock %}
